/courses/pytorch_deeplearning_and_AI/DATA
private-pynotebooks\courses\pytorch_deeplearning_and_AI\DATA
private-pynotebooks/courses/pytorch_deeplearning_and_AI/DATA

/courses/pytorch_deeplearning_and_AI/MODELS
private-pynotebooks\courses\pytorch_deeplearning_and_AI\MODELS
private-pynotebooks/courses/pytorch_deeplearning_and_AI/MODELS